@model BeautySpaceDomain.Model.Employee

@{
    ViewData["Title"] = "Редагування працівника";
}

<h4>Редагування працівника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeePortrait" class="control-label"></label>
                @if (Model.EmployeePortrait != null)
                {
                    <img id="currentPortrait" src="data:image;base64,@Convert.ToBase64String(Model.EmployeePortrait)" class="img-thumbnail" />
                }
                else
                {
                    <img id="currentPortrait" src="/img/employeeAvatar.jpg" class="img-thumbnail" />
                }
                <input asp-for="EmployeePortrait" type="file" accept="image/*" id="imageInput" class="form-control" />
@*                 <span asp-validation-for="EmployeePortrait" class="text-danger"></span>
 *@            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input type="text" id="phoneInput" asp-for="PhoneNumber" class="form-control" placeholder="+380 (__) ___-__-__" data-mask="+380 (__) ___-__-__" inputmode="numeric" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Зберегти змінити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Скасувати</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script src="/js/phone.js"></script>
    <script>
        // Функція для оновлення зображення після завантаження нового
        document.getElementById('imageInput').addEventListener('change', function (event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('currentPortrait').src = e.target.result;
            };
            reader.readAsDataURL(file);
        });
    </script>
}
