@model BeautySpaceDomain.Model.Category

@{
    ViewData["Title"] = "Деталі категорії";
}

<div class="content">

    <div>
        <h4>Деталі категорії</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        @if (Accessibility.AllExceptUser(User))
        {
            <a class="btn-back-new" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        }

        <a class="btn-back-new" asp-action="Index">Назад</a>
    </div>
</div>
