@model BeautySpaceDomain.Model.TimeSlot

@{
    ViewData["Title"] = "Створення вікна";
}

<div class="content">
    <h4>Створення нового вікна</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="selectedServiceId" name="serviceId" />
                <input type="hidden" id="selectedEmployeeId" name="employeeId" />



                <div class="form-group">
                    <label asp-for="EmployeeService.ServiceId" class="control-label">Послуга</label>
                    <select id="ServiceId" class="form-control" asp-items="ViewBag.ServiceIdList">
                        <option value="" disabled selected>Оберіть послугу</option>
                    </select>
                    <span asp-validation-for="EmployeeService.ServiceId" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="EmployeeService.EmployeeId" class="control-label">Працівник</label>
                    <select id="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeIdList">
                        <option value="" disabled selected>Спочатку оберіть послугу</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" class="form-control" placeholder="dd.mm.yyyy" min="2023-01-01" id="dateInput" />
                    <span id="dateError" class="text-danger" style="display: none;">Дата не може бути меншою за 1 січня 2023</span>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input type="time" asp-for="StartTime" class="form-control" id="startTimeInput" min="07:00" max="21:45" />
                    <span id="startTimeError" class="text-danger" style="display: none;">Час початку повинен бути між 07:00 та 21:45</span>
                </div>

                <div class="form-group">
                    <label asp-for="EndTime" class="control-label"></label>
                    <input type="time" asp-for="EndTime" class="form-control" id="endTimeInput" min="07:15" max="22:00" />
                    <span id="endTimeError" asp-validation-for="EndTime" class="text-danger" style="display: none;">Час кінця повинен бути між 07:15 та 22:00.</span>
                    <span id="minServiceEndTimeError" asp-validation-for="EndTime" class="text-danger" style="display: none;">Мінімальний час послуги 15хв</span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsBooked" /> @Html.DisplayNameFor(model => model.IsBooked)
                    </label>
                </div>
                <div class="edit-create-or-back">
                    <input type="submit" value="Створити" class="btn btn-primary" />
                    <a class="btn-back-new" asp-action="Index">Скасувати</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        var message = TempData["Message"] as string;

    }

    @if (!string.IsNullOrEmpty(message))
    {
        <script>
            $(document).ready(function () {
                var message = @Html.Raw(Json.Serialize(message));
                if (message) {
                    alert(message);
                }
            });
        </script>
    }




    <script src="/js/timeSlotError.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // var selectedServiceId = $('#selectedServiceId').val();
            // var selectedEmployeeId = $('#selectedEmployeeId').val();
            // $('#ServiceId').val(selectedServiceId);
            // $('#EmployeeId').val(selectedEmployeeId);

            // Функція для встановлення стану EmployeeId
            function setEmployeeIdState(disabled) {
                $('#EmployeeId').prop('disabled', disabled);
            }

            // При зміні ServiceId
            $('#ServiceId').change(function () {
                var serviceId = $(this).val();
                if (serviceId) {
                    $('#selectedServiceId').val(serviceId); // Встановлення ServiceId
                    $.ajax({
                        url: '/TimeSlots/GetEmployeesByServiceId',
                        type: 'GET',
                        data: { serviceId: serviceId },
                        success: function (data) {
                            var employeeSelect = $('#EmployeeId');
                            employeeSelect.empty();
                            // Дефолтне значення
                            employeeSelect.append($('<option>', {
                                value: '',
                                text: 'Оберіть працівника',
                                disabled: 'disabled',
                                selected: 'selected'
                            }));

                            $.each(data, function (i, item) {
                                employeeSelect.append($('<option>', {
                                    value: item.value,
                                    text: item.text
                                }));
                            });

                            // Після отримання даних активуємо EmployeeId
                            setEmployeeIdState(false);
                        }
                    });
                } else {
                    // Якщо ServiceId не обрано, робимо EmployeeId неактивним
                    setEmployeeIdState(true);
                }
            });

            // При зміні EmployeeId
            $('#EmployeeId').change(function () {
                var employeeId = $(this).val();
                if (employeeId) {
                    $('#selectedEmployeeId').val(employeeId); // Встановлення EmployeeId
                }
            });

            // Початкове стан EmployeeId
            setEmployeeIdState(true);
        });
    </script>
}
