
@{
    ViewData["Title"] = "Запити";
}

<div class="content">

    <div class="actions">
        <a asp-action="Query1"> <b>Запит 1:</b> Повернути всі послуги обраної категорії, вартість яких більша за вказану суму</a>
    </div>
    <div class="actions">
        <a asp-action="Query2"> <b>Запит 2:</b> </a>
    </div>
    <div class="actions">
        <a asp-action="Query3"> <b>Запит 3:</b> </a>
    </div>
    <div class="actions">
        <a asp-action="Query4"> <b>Запит 4:</b> </a>
    </div>
</div>
