
@{
    ViewData["Title"] = "Про нас";
}




@* <div class="content">
    <div class="text-center">
        <h3><b>VD-Beaut</b> - місце, де вирує краса та розкіш.</h3>
    </div>
    <div id="bootstrap-gallery-carousel" class="carousel slide gallery-home">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1616394584738-fc6e612e71b9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?q=80&w=1787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1558748066-ac064bc32e3f?q=80&w=1919&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1580618672591-eb180b1a973f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWgelHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#bootstrap-gallery-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#bootstrap-gallery-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <div class="about-us-main-wrapper">
        <div class="about-us-wrapper">
            <h2>Про нас</h2>
            <p class="left">
                VD-Beaut - це місце, де висока якість зустрічається з індивідуальним підходом. Наші досвідчені майстри володіють мистецтвом створення неповторних образів, враховуючи ваш стиль та унікальність. Ми пропонуємо повний спектр послуг, включаючи стрижки, зачіски, фарбування волосся, манікюр, педикюр та інші послуги.
            </p>
        </div>


        <p action="right">
            У нашому салоні використовуються тільки передові технології та ексклюзивні продукти, щоб забезпечити вам найвищий стандарт обслуговування. Ми розуміємо на скільки важливиv для вас є ваш вигляд і завжди готові зробити все, щоб ви виглядали і відчували себе неперевершено.
        </p>

        <div class="about-us-wrapper">
            <p class="left">
                VD-Beaut - це не просто салон краси, це місце, де кожен клієнт може <b>відчути себе зіркою</b>. Приходьте до нас і відкрийте для себе світ краси та дбайливого обслуговування.
            </p>
        </div>
    </div>

    <div class="services-main-wrapper">
        <h2>Категорії</h2>
        <div class="service-card-wrapper-row">
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">
                            <img class="service-card-img" src="https://images.unsplash.com/photo-1594465919760-441fe5908ab0?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                            <div class="overlay">
                                <div class="text">Переглянути послуги</div>
                            </div>
                        </div>
                        <h4 class="service-card-title">Макіяж</h4>
                    </div>
                </a>
            </div>
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">
                        <img class="service-card-img" src="https://images.unsplash.com/photo-1632345031435-8727f6897d53?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                        <div class="overlay">
                            <div class="text">Переглянути послуги</div>
                        </div>
                    </div>
                        <h4 class="service-card-title">Манікюр</h4>
                    </div>
                </a>
            </div>
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">

                        <img class="service-card-img" src="https://images.unsplash.com/photo-1538724521430-54d1488cca27?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                        <div class="overlay">
                            <div class="text">Переглянути послуги</div>
                        </div>
                    </div>
                        <h4 class="service-card-title">Педикюр</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="service-card-wrapper-row">
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">
                        <img class="service-card-img" src="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                        <div class="overlay">
                            <div class="text">Переглянути послуги</div>
                        </div>
                    </div>
                        <h4 class="service-card-title">Косметолог</h4>
                    </div>
                </a>
            </div>
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">
                        <img class="service-card-img" src="https://images.unsplash.com/photo-1519824145371-296894a0daa9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                        <div class="overlay">
                            <div class="text">Переглянути послуги</div>
                        </div>
                    </div>
                        <h4 class="service-card-title">Масаж</h4>
                    </div>
                </a>
            </div>
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">
                        <img class="service-card-img" src="https://images.unsplash.com/photo-1560869713-bf165a9cfac1?q=80&w=1852&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                        <div class="overlay">
                            <div class="text">Переглянути послуги</div>
                        </div>
                    </div>
                        <h4 class="service-card-title">Перукар</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="service-card-wrapper-row">
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">
                        <img class="service-card-img" src="https://images.unsplash.com/photo-1617074172287-f364b77c1e77?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                        <div class="overlay">
                            <div class="text">Переглянути послуги</div>
                        </div>
                    </div>
                        <h4 class="service-card-title">Пірсер</h4>
                    </div>
                </a>
            </div>
            <div class="containerTypeServiceChart">
                <div id="TypeServiceChart"></div>
            </div>
            <div class="service-card-wrapper">
                <a class="service-card" href="#">
                    <div>
                        <div class="service-card-block">
                        <img class="service-card-img" src="https://images.unsplash.com/reserve/Ceszw9OoQD6rwMhfDl9R_render0006.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." />
                        <div class="overlay">
                            <div class="text">Переглянути послуги</div>
                        </div>
                    </div>
                        <h4 class="service-card-title">Малюнок хною</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>



    


</div>
 *@





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

}