html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none;
}

.content {
    padding-top: 70px; 
}


/*start home page*/
.about-us-main-wrapper p {
    letter-spacing: .1px;
    font-size: 17px;
    max-width: 940px;
}

p[action="right"] {
    text-align: left;
    max-width: 700px;
    margin-left: auto;
    margin-bottom: -25px;
}

.services-main-wrapper {
    margin-top: 100px;
}

.service-card-block {
    position: relative;
    width: 250px;
    overflow: hidden;
}

.service-card-img {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 250px;
    height: 0;
    transition: .5s ease;
}

.service-card-block:hover .overlay {
    height: 250px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.service-card:hover {
    text-decoration: none;
}

.service-card-wrapper .service-card-title {
    text-align: center;
}

.service-card-wrapper-row {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.service-card-title {
    margin-top: 15px;
    font-size: 18px;
}
/*end home page*/

/*start nav*/
.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}

/*end nav*/


/*start logout*/
.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-size: 24px;
    color: #343a40 !important;
    vertical-align: middle;
    cursor: pointer;
}
/*end logout*/


/*start buttons*/
.btn.btn-outline-primary, .btn.btn-danger:hover {
    text-decoration: none;
    border: none;
}

.btn-back-new {
    padding: 12px 24px;
    border: 2px solid white;
    transition: border-color 0.2s ease;
}

.btn-new {
    transition: border-color 0.2s ease;
    padding: 13px 25px;
}

.btn-back-new:hover {
    border-color: black;
}

.btn-new:hover {
    padding: 12px 24px;
    border: 1px solid black;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/*end buttons*/
.actions a {
    padding: 5px 10px;
    border-radius: 2px;
    transition: background-color 0.1s ease;
}

.actions a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Black with 30% opacity */
}

div.edit-create-or-back {
    margin-top: 15px;
}

div.delete-or-back {
    display: flex;
    margin-top: 15px;
    gap: 20px;
    align-items: center;
}


/* start employee card*/
.employee-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-employee-personal-card {
    padding: 2px 16px;
}

.employee-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.employee-card:hover {
    box-shadow: 0 6px 11px 0 rgba(0,0,0,0.25);
}

.img-employee-card {
    border-radius: 5px 5px 0 0;
}


/*start Login/Register form*/

.userForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}

.userForm h2 {
    color: #333;
    text-transform: uppercase;
}

.userFormInput div {
    margin-bottom: 15px;
}

.userFormInput input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}

.passwordInput {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.userForm input[type="submit"] {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
}

.userForm input[type="submit"]:hover {
    border-radius: 5px;
    color: #fff;
    background-color: #333;
}
/*end Login/Register form*/


/*start employee details*/
.employee-details-container {
    display: inline-grid;
    grid-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
}



/*start home page*/
.content, .about-us-wrapper {
    margin-top: 50px;
}

.carousel-item {
    height: 600px;
    object-fit: cover;
}

.gallery-home {
    margin-top: 25px;
    margin-bottom: 100px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 19px;
}

.about-us-main-wrapper p {
    letter-spacing: .1px;
    font-size: 17px;
    max-width: 940px;
}
/*end home page*/
