@model BeautySpaceInfrastructure.ViewModel.ReservationViewModel

@{
    ViewData["Title"] = "Редагування бронювання";
}

<div class="content">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientId" class="control-label">Клієнт</label>
            <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
            <span id="clientIdError" class="text-danger" style="display: @(ViewData.ModelState.ContainsKey("ClientId") ? "inline" : "none")">
                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
            </span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Категорія</label>
            <select id="CategoryId" class="form-control" asp-for="CategoryId" asp-items="ViewBag.CategoryId">
                <option value="" disabled selected>Оберіть категорію</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="ServiceId" class="control-label">Послуга</label>
            <select id="ServiceId" class="form-control" asp-for="ServiceId">
                <option value="" disabled selected>Спочатку оберіть категорію</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="EmployeeServiceId" class="control-label">Працівник</label>
            <select id="EmployeeServiceId" class="form-control" asp-for="EmployeeServiceId" asp-items="ViewBag.EmployeeServiceId">
                <option value="" disabled selected>Спочатку оберіть послугу</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="TimeSlotId" class="control-label">Часовий інтервал</label>
            <select id="TimeSlot" class="form-control" asp-for="TimeSlotId" asp-items="ViewBag.TimeSlotId">
                <option value="" disabled selected>Спочатку оберіть майстра</option>
            </select>
        </div>

        <div class="edit-create-or-back">
            <input type="submit" value="Зберегти зміни" class="btn btn-primary" />
            <a class="btn-back-new" asp-action="Index">Скасувати</a>
        </div>
    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
