@model BeautySpaceInfrastructure.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}


<div class="userContainer">
    <h2>Реєстрація нового користувача</h2>

    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        @*     аватар користувача
        *@
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">В мене вже є акаунт</a>
        <div>
            <input type="submit" value="Реєстрація" />
        </div>
    </form>
</div>



